node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
.vercel
public/images/wetransfer_ullishtja/

# Ignore build artifacts
build/
dist/
coverage/

# macOS metadata
.DS_Store
